<!doctype html>
<html>
<head>
    <title>Add Info</title>
</head>
<body>
    <h1>Please add a student:</h1>
    <form action="/student-add" method="POST">
        First name: <input type='text' name='first' value='first'>
        <br>
        <br>
        Last name: <input type='text' name='name' value='last'>
        <br>
        <br>
        Github: <input type='text' name='github' value='github'>
        <br>
        <br>
        <button type='submit' value='Submit'></button>
    </form>
</body>
</html>